* {
  font-family: 'Open Sans', sans-serif;
}

.mainContainer {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 50px;
}

.loginContainer {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.buttonContainer {
  display: flex;
  text-align: center;
  flex-direction: row;
  overflow-x: auto;
  width: 30em;
  white-space: nowrap;
}

button {
  max-width: 300px;
  font-weight: 600;
  font-size: large;
  margin: 5px;
  border: none;
  border-radius: 10px;
}

button:hover {
  opacity: .5;
  color: white;
  background-color: lightgray;
  color: black;
}

.eventsContainer {
  align-self: center;
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
}

input {
  border: 2px solid black;
  background-color: #eee;
  border-radius: 10px;
  font-size: 24px;
  width: 400px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  border: 2px solid black;
  background-color: #eee;
  border-radius: 10px;
  font-size: 24px;
  width: 400px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

.navBar {
  display: inline-block;
  width: 100%;
  padding: 15px;
}

.dataSelectButtons {
  float: left;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-self: flex-start;
}

.dataSelectButtons button {
  padding: 10px;
}

.settingsButtons {
  float: right;
}

.navButton {
  flex: 1;
  display: flex;
}

.signOut {
  flex: 1;
  display: flex;
  align-self: flex-end;
}

.addButtonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 25px;
}

.addButtonContainer button {
  padding: 10px 10px;
  font-size: xx-large;
}

.submitButton {
  margin-top: 50px;
  width: 400px;
  font-size: 18px;
  border: none;
  background-color: #60f4ff;
  border-radius: 10px;
  font-weight: 500;
}

.editButton {
  color: black;
  background-color: white;
}

.deleteButton {
  color: red;
  background-color: white;
}

.editButtonInverted {
  color: black;
  background-color: lightgray;
}

.deleteButtonInverted {
  color: red;
  background-color: lightgray;
}

.signOutButton {
  background-color: red;
  color: white;
}

.signOutButton:hover {
  background-color: red;
  color: white;
}

.tableHeader {
  border: 1px solid black;
  background-color: #60f4ff;
}

table {
  display: flex;
  width: 100%;
  margin-left: 40px;
  margin-right: 40px;
  border-collapse: collapse;
}

td {
  padding: 20px 20px;
  text-align: left;
}

th {
  font-size: xx-large;
}

tr {
  margin-left: 25px;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid black;
  flex: 1;
}

.whiteRow {
  margin-left: 25px;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: none;
  flex: 1;
}

.grayRow {
  margin-left: 25px;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: lightgray;
  flex: 1;
}

.closeButton {
  margin-top: 25px;
  width: 400px;
  font-size: 18px;
  border: none;
  background-color: red;
  border-radius: 10px;
  font-weight: 500;
}

.crudButtons {
  display: flex;
  flex: 1;
}